.mentor-navbar{
    background-color: #12A98E;
}

.mentor-nav-logo{
    height: 50px;
    margin-left: 60px;
}

.mentor-drop{
    background-color: #12A98E;
    border-radius: 25px;
    margin-top: 10px;
    color: white;
}

.noti-mentor{
    border-radius: 25px;
    background-color: #12A98E;
    width: 40px;
    border: 1px;
    margin-top: 4px;
    color: white;
}

.aside-mentor{
    width: 250px;
    margin: 50px;
    background-color: #BCFFDB;
    padding: 40px;
    border-radius: 10px;
}

.aside-content{
    margin: 40px;
    margin-top: 30px;
}