.inner-container-admin{
    margin-left: 420px;
    margin-top: 120px;
    width: 400px;
    border:   #BCFFDB solid;
    border-radius: 10px;

}

.admin-login-button{
    height: 40px;
    width: 150px;
    border-radius: 10px ;
    color: white;
    background-color: #12A98E;
}