.loader {
    width: 80px;
    aspect-ratio: 1.154;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    display: grid;
    background: #12A98E;
    position: relative;
    left: 800px; 
    top: 280px   ;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    clip-path: inherit;
    transform-origin: 50% 66%;
    animation: l7-1 2s infinite; 
  }
  .loader::before {
    background: #BCFFDB;
    animation: l7-2 2s infinite 1s; 
  }
  @keyframes l7-1 {
    0% ,99.9% {transform:scale(1)}
    50%,99%   {transform:scale(0)}
  }
  @keyframes l7-2 {
    0%,51%{transform:scale(1)}
    50%   {transform:scale(0)}
  }